#container-footer{
    background-color: #04233f;
    color: darkgoldenrod;
    height: 270px;
}
#container-icon{
    height: 60px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    color:darkgoldenrod;
}