#containerBoxNews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  height: 70%;
}

#containerBoxNews {
  justify-content: center;
}

#bottomContainer {
  height: 15%;
  width: 100%;
  background-color: #0c2840;
}

#topContainer {
  height: 18%;
  font-size: 50px;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#boxNewsFavourite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

#boxNewsFavourite {
  justify-content: center;
}

#boxNews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

#boxNews {
  justify-content: center;
}

#middle-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.image-link {
  width: 320px;
  height: 300px;
  margin: 15px 15px 30px;
  border-radius: 10px;
}
#box-imp-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60vh;
  margin-top: 90px;
  margin-bottom: 50px;
  border-bottom: 1px solid darkgoldenrod;
  border-top: 1px solid darkgoldenrod;
}

#box-imp-news {
  justify-content: center;
}

.middle-box-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#box-description-news {
  margin-left: 20px;
}

.img-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#container-img-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  width: 90%;
  border-bottom: 1px solid darkgoldenrod;
}
